.quizContent{
    width: 1100px;
    height: 550px;
}

.quizCard{
    width: 1100px;
    height: 150px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.score{
    display: flex;
}

.scoreContent{
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scoreContent p{
    margin: 0px;
    font-size: 18px;
    color: gray;
}

.line{
    height: 120px;
    border: 1px solid rgb(192, 191, 191);
}

.time{
    display: flex;
    margin-left: 50px;
}

.start{
    margin-left: 50px;
}

.start p{
    display: flex;
    align-items: center;
}

.start img{
    height: 20px;
}